#now-playing
  %h4 Currently Playing

  %p
    = now_playing[:artist]
    &mdash;
    = now_playing[:title]
  %p #{now_playing[:current_position]} / #{now_playing[:track_duration]}

-#  :coffee
-#    $ ->
-#      $.getScript #{now_playing_path}
