#now-playing
  %h4 Currently Playing
  %p
    = device.now_playing[:artist]
    &mdash;
    = device.now_playing[:title]
  %p #{device.now_playing[:current_position]} / #{device.now_playing[:track_duration]}
  %p
    Volume: #{device.volume}/100
