-#= image_tag @device.now_playing[:album_art]
%h2= @device.now_playing[:title]
%p
  by
  %strong= @device.now_playing[:artist]
%p
  %strong #{@device.now_playing[:current_position]}
  \/ #{@device.now_playing[:track_duration]}
%p
  %strong Volume:
  #{@device.volume}/100
