-#= image_tag @device.now_playing[:album_art]
%h2= @device.now_playing[:title]
%p
  by
  %strong= @device.now_playing[:artist]

.progress
  .progress-bar{style:"width: #{percent_played @device.now_playing}%"}
    #{format_time @device.now_playing[:current_position]}
%p
  %strong Volume:
  .progress
    .progress-bar{style:"width: #{@device.volume}%"}
