= render partial: 'now_playing', locals: {now_playing: now_playing}

.btn-group.btn-lg
  = link_to previous_song_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-step-backward
  = link_to pause_song_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-pause
  = link_to play_song_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-play
  = link_to next_song_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-step-forward
.btn-group.btn-lg
  = link_to volume_down_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-volume-down
  = link_to volume_up_path(device_name), remote:true, method: :post, class: 'btn btn-default btn-lg' do
    %span.glyphicon.glyphicon-volume-up
