%h1
  =@device.name
  %small= @device.model

= image_tag "#{@device.model.parameterize}.png", width: '300px'

- if @device.speaker?
  = render partial: 'speaker_controls', locals: { device: @device }
-#  :coffee
-#    get_current = ->
-#      alert 'getting script'
-#      url = "#{now_playing_path(@device.name.parameterize, format: 'js')}"
-#      $.getScript(url).done ->
-#        alert 'done'
-#      return
-#    $ ->
-#      setTimeout get_current, 1000
-#      return

