.row
  .col-lg-6
    %h1
      = @device.name
      %small= @device.model
    = image_tag "#{@device.model.parameterize}.png", width: '300px'

  .col-lg-6
    - if @device.speaker?
      #now-playing.jumbotron{data:{url: now_playing_path(@device.name.parameterize)}}
        = render 'now_playing'
.row
  .col-lg-12
    %center
      = render partial: 'speaker_controls', locals: { device_name: @device.name.parameterize }

